@page
@model Lab3.Pages.TripsModel

@{
    ViewData["Title"] = "Поїздки";
}

<h1>Поїздки</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Клієнт
            </th>
            <th>
                Назва туру
            </th>
            <th>
                Дата
            </th>
            <th>
                Тривалість (днів)
            </th>
            <th>
                Знижка (%)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trip) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
        </tr>
}
    </tbody>
</table>
